<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samsung.et10">
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/eyecorrect"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText">
        <activity android:name=".Hypermetropia"></activity>
        <activity android:name=".ResultActivity" /> <!-- android:name="com.chaquo.python.android.PyApplication" -->
        <activity android:name=".Myopia" />
        <activity android:name=".CamCanvas" />
        <activity android:name=".DetectorActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".CameraConnectionFragment" />
        <activity android:name=".LegacyCameraConnectionFragment" />
        <activity android:name=".Rectangle" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>